@import "../../../scss/colors.scss";

.mute__group__name {
  margin-bottom: 20px;
}
.modal__mute__radio__buttons_p-6 {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14.2px;
}
.modal__mute__radio__buttons {
  margin-left: 6px;
}
.modal__cancel__mute__button {
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.modal__cancel,
.modal__mute {
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 3px;
}
.modal__cancel {
  color: $TSVbuttonColor;
}
.modal__mute {
  color: $white;
  background-color: $TSVbuttonColor;
}

.clear__messages__title {
  font-size: 14.2px;
  color: $rightSlider__profile__name;
}

.clear__messages__clear__starred__messages {
  margin-top: 12px;
}

.clear_messages__fontSize__14 {
  font-size: 14px;
}
