.left-dropdown-main-enter {
  transform-origin: right top;
  opacity: 0;
  transform: scale(0.5);
}

.left-dropdown-main-enter-active {
  transform-origin: right top;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}

.left-dropdown-main-exit {
  opacity: 1;
}

.left-dropdown-main-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}
