.setSearchActive-enter {
  transform-origin: right top;
  opacity: 0;
  transform: scale(0.5);
}

.setSearchActive-enter-active {
  transform-origin: right top;
  opacity: 1;
  transform: translate(90px,0);
  transition: opacity 200ms, transform 200ms;
}

.setSearchActive-exit {
  opacity: 1;
}

.setSearchActive-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}
