@import "../../../../../../scss/colors.scss";

.userInfo__box {
  background-color: $white;
}

.userInfo__box:hover {
  .rollback-on-hover {
    transition: all 0.3s;
    transform: translate(-6px, 0px);
  }
}

.userInfo__box:active {
  background-color: $chat-active-color;
  cursor: pointer;
}
.sender__image__left__window {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  object-fit: cover;
}
.calls__user__details {
  padding-right: 12px;
  width: calc(100% - 128px);
  padding-top: 16px;
  padding-bottom: 6px;
  border-top: 1px solid $chat-border-top-color;
}
.leftChat__senderName___time {
  .leftChat__senderName {
    width: calc(100% - 58px);
    font-size: 17px;
    color: $black;
  }
}
.leftChat__message___messageLeftToRead {
  .leftChat__message {
    width: calc(100% - 56px);
    font-size: 14px;
    color: $leftChat-messageLeftToRead;
  }
}
