@import "../../../../../../scss/colors.scss";

.hashTag_child {
  padding-top: 30px;
  padding-left: 32px;
  padding-bottom: 15px;
  font-size: 15px;
  color: $green-box-color;
}
.leftSlider__header__green_box {
  padding-top: 49px;
  padding-left: 23px;
  padding-right: 20px;
  height: 108px;
  background-color: $new-chat-active-color;
}
.custom__59height {
  height: 59px;
}
.leftSlider__back__arrow {
  width: 53px;
  color: $white;
}
.leftSlider__greenBox__header {
  color: $white;
  font-size: 19px;
}
.leftSide__chat__section {
  position: relative;
  background-color: $white;
}
