@import "./scss/colors.scss";
@import "./scss/new.scss";
@import "./scss/smallAlignments.scss";
@import "./scss/hidden.scss";
@import "./scss/dropdown/dropdown.scss";
@import "./scss/dropdown/search.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

html,
body {
  // font-family: "Open Sans", sans-serif;
  font-family: "Segoe UI", sans-serif;
}

@media (min-width: 1441px) {
  .left-dropdown {
    left: 40% !important;
  }
  .col-xl-3-5 {
    width: 30%;
  }
  .col-xl-6-5 {
    width: 70%;
  }
  .col-20 {
    width: 20%;
  }
  .col-80 {
    width: 80%;
  }
  .green-box {
    height: 127px;
    background-color: $green-box-color;
  }
  .display-content-area {
    height: 100vh;
    width: 1396px;
    border-radius: 3px;
    top: 19px;
    display: flex;
    position: relative;
    height: calc(100vh - 38px);
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .logged__in__user__image__49px {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .sender__image__left__window {
    height: 49px;
    width: 49px;
    border-radius: 50%;
    object-fit: cover;
  }
  .leftSide__header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid $border-color;
    background-color: $display-content-area-header-color;
  }
  .rightSide__header {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $display-content-area-header-color;
  }
  .rightSide___chat__phone__number {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: $phone-number-colors;
  }
  .rightSide___chat__sender__or__group__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  .input__box {
    background-color: $input-box-color;
    border: 2px solid $input-box-color;
  }
  .leftSide__chat__section {
    position: relative;
    background-color: white;
  }
  .chat-section-sending-user-data {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rightSide__footer__input__box {
    position: absolute;
    min-height: 62px !important;
    bottom: 0;
    background-color: $footer-color;
  }
  .smiley {
    font-size: 24px !important;
  }
  .microphone {
    font-size: 22px !important;
  }
  .rightSide__chat__logScreen__child {
    position: absolute;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    background: url("./assets/images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }
  .sender-name {
    color: $sender-name-color;
    font-size: 16px !important;
  }
  .sender-message {
    color: $sender-message-color;
    font-size: 14px !important;
  }
  .time {
    color: $time-color;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.4);
  }
  .send-text-input-box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 32px !important;
  }
  .right-dropdown {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 175px;
    position: absolute;
    display: block;
    top: 40px;
    right: 0;
    margin-right: 3%;
    z-index: 2;
    font-size: 14px;
  }
}

@media (min-width: 200px) and (max-width: 1440px) {
  .col-20 {
    width: 20%;
  }
  .col-80 {
    width: 80%;
  }
  .right-dropdown {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    color: black;
    width: 175px;
    position: absolute;
    display: block;
    font-size: 14px;
    top: 40px;
    right: 0;
    margin-right: 3%;
    z-index: 2;
  }
  .display-content-area {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  .logged__in__user__image__49px {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .sender__image__left__window {
    height: 49px;
    width: 49px;
    border-radius: 50%;
    object-fit: cover;
  }
  .leftSide__header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid $border-color;
    background-color: $display-content-area-header-color;
  }
  .rightSide__header {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $display-content-area-header-color;
  }
  .rightSide___chat__phone__number {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $phone-number-colors;
    font-size: 12px;
  }
  .rightSide___chat__sender__or__group__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .input__box {
    background-color: $input-box-color;
    border: 1px solid $input-box-color;
  }
  .leftSide__chat__section {
    position: relative;
    background-color: white;
  }
  .chat-section-sending-user-data {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .rightSide__footer__input__box {
    position: absolute;
    min-height: 62px !important;
    min-height: 62px;
    bottom: 0;
    background-color: $footer-color;
  }
  .smiley {
    font-size: 24px !important;
  }
  .microphone {
    font-size: 22px !important;
  }
  .rightSide__chat__logScreen__child {
    padding-left: 9%;
    padding-right: 9%;
    height: 100vh;
    height: 90vh;
    overflow-y: scroll;
    background: url("./assets/images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }
  .sender-name {
    color: $sender-name-color;
    font-size: 16px !important;
  }
  .sender-message {
    color: $sender-message-color;
    font-size: 14px !important;
  }
  .time {
    color: $time-color;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.4);
  }
  .send-text-input-box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 32px !important;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .mobile__newChat__selectedContact {
    font-size: 18px;
    font-weight: 700;
  }
  .mobile__newChat__contactLength {
    font-size: 14px;
    font-weight: 100;
  }
  .bottomDrawer {
    height: 100vh;
    width: 100%;
    outline: none;
  }
  .input__box__green__arrow {
    color: #255d53;
    transform: rotate(90deg);
  }
  .camera {
    opacity: 0.6 !important;
  }
  .camera:hover {
    opacity: 1;
  }
  .new__chat__green__logo-main {
    position: fixed;
    bottom: 70px;
    right: 70px;
  }
  .new__chat__green__logo {
    background-color: #5ad570;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .mobile__view__header {
    background-color: #255d53;
    color: white;
  }
  .brand__name {
    // font-size: 18px;
    font-weight: 900;
  }
  .chat-dropdown-links {
    padding-top: 13px;
    padding-left: 24px;
    padding-right: 58px;
    text-align: left;
  }
  .selectedMessages__count {
    font-size: 14.5px;
    color: #4b4b4b;
    width: 74%;
  }
  .cancel-svg {
    margin-right: 10px;
  }
  .slideUp__footer {
    padding-left: 16px;

    padding-right: 15px;
  }
  .custom__width38 {
    width: 38px;
  }
  .footer {
    position: relative;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid rgba(101, 101, 101, 0.85);
    background-color: transparent;
  }
  .clear__messages__title {
    font-size: 14.2px;
    color: #4b4b4b;
  }
  .modal__cancel,
  .modal__mute {
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 3px;
  }
  .modal__cancel {
    color: #07bc4c;
  }
  .modal__mute {
    color: white;
    background-color: #07bc4c;
  }
  .modal__cancel__mute__button {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .modal__mute__radio__buttons_p-6 {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14.2px;
  }
  .modal__mute__radio__buttons {
    margin-left: 6px;
  }
  .modal__popup {
    width: 400px !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    padding: 22px 24px 20px 24px;
  }
  .mute__group__name {
    margin-bottom: 20px;
  }
  .rightSide__footer__icons__w__80percent {
    width: 80%;
    position: relative;
    border-radius: 32px;
    background-color: white;
  }
  .textarea {
    font-weight: normal;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    // height: 42px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
  }
  .settings-section-image-section {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .settings_section_logged_in_user_name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .settings_logos {
    width: 74px;
  }
  .settings_each_logo {
    height: 60px;
  }
  .settings_section_logged_in_user_status {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .settings_options {
    padding-right: 30px;
  }
  .settings-section {
    padding-right: 24px !important;
  }
  .custom_pl-3 {
    padding-left: 3px;
  }
  .custom_pr-3 {
    padding-right: 3px;
  }
  .starred-messages-container {
    background-color: #eeeeef;
  }
  .starred-messages-main {
    padding-left: 29px;
    padding-right: 12px;
  }
  .starred-messages-date-sent {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
  }
  .settings-section-image_img {
    height: 82px;
    width: 82px;
    border-radius: 50%;
  }
  .starred-messages {
    padding: 6px 7px 8px 9px;
    background-color: white;
    color: #262626;
    border-radius: 7.5px;
    margin-top: 7px;
  }
  .starred-messages-section {
    padding: 10px 7px 10px 13px;
    font-size: 14px;

    background-color: #eeeeef;
  }
  .starred-messages-sender-image {
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }
  .starred-messages-sender-image-main {
    margin-right: 6px;
  }
  .profile_section_name_with_value_as_input {
    border: transparent !important;
    font-size: 17px !important;
    font-weight: 100 !important;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #00bfa5;
  }
  .no-archieved-chats {
    color: #929fa6;
    font-size: 14px;
  }
  .archieved-chats-cirle {
    background-color: #e0e7e9;
    border-radius: 50%;
    margin-bottom: 32px;
    height: 164px;
    width: 164px;
  }
  .archievedChatSection {
    background-color: #f7f7f7;
    padding: 50px;
  }
  .leftSlider__profile__section {
    background-color: #f7f7f7;
  }
  .profile_section_name {
    color: #128c7e;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 14px;
  }
  .profile_section_name_with_value {
    font-size: 17px;
    margin: 8px 0px;
  }
  .static_text {
    color: #929fa6;
    font-size: 13px;
    margin: 4px 20px 28px 30px;
    background-color: #f7f7f7;
  }
  .leftDrawer_Profile_ImageSection {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .leftDrawer_Profile_ImageSection_image {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
  }
  .hashTag_child {
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 15px;
    font-size: 15px;
    color: $green-box-color;
  }
  .newGroup__input__section {
    padding-left: 34px !important;
    padding-bottom: 12px;
    padding-top: 26px;
  }
  .newGroup__input__box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-radius: 0px !important;
    color: $search-input-box-text-color;
  }
  .newGroup__input__box:focus,
  .newGroup__input__box:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d7d7d7 !important;
  }
  .rightSide__header__sender__image {
    width: 68px;
  }
  .rightSide__header__details {
    width: calc(100% - 68px);
  }
  .rightSide__header__with__icons {
    width: 160px;
  }
  .rightSide__header__without__icons {
    width: calc(100% - 160px);
  }
  .rightSide__chat__sender__message {
    max-width: 65%;
    min-width: 16% !important;
    display: inline-block;
    white-space: pre-wrap;
    color: #262626;
    font-size: 13px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    word-break: break-all;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 7px;
    background-color: $sender-chat-msg-color;
  }

  li:first-child {
    .rightSide__chat__sender__firstMessage {
      position: absolute;
      border-top: 0px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 16px solid #dcf8c6;
      width: 6px;
      right: -12px;
      top: 0;
      height: 6px;
    }
  }

  .time-and-tick {
    width: 100%;
    padding-left: 20px;
  }

  .double-tick {
    padding-left: 4px;
    height: 20px !important;
    width: 18px !important;
  }

  .leftSide__chat__window__parent {
    position: relative;
  }
  .icon-active {
    // width: 32px;
    height: 70%;
    border-radius: 32px;
    background-color: transparent;
  }
  .available {
    color: $sender-message-color;
    font-size: 13px;
  }
  .log-of-chats-new-chat-active {
    overflow-y: scroll;
    height: 73vh;
  }
  .leftSlider__chatActiveBox {
    display: block;
    background: white;
    transition: all 0.3s;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 0);
  }
  .frequently-contacted {
    padding-left: 30px;
    color: $green-box-color;
  }
  .leftSlider__greenBox__header {
    color: white;
    font-size: 19px;
  }
  .leftSlider__back__arrow {
    width: 53px;
    color: white;
  }
  .custom__59height {
    height: 59px;
  }
  .leftSlider__header__green_box {
    padding-top: 49px;
    padding-left: 23px;
    padding-right: 20px;
    height: 108px;
    background-color: $new-chat-active-color;
  }
  .search__input__box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    color: $search-input-box-text-color;
    border-radius: 32px !important;
    padding-left: 3.7rem !important;
  }

  .remaining {
    border-bottom: 1px solid #f2f2f2;
    width: calc(100% - 72px);
  }
  .rightSlider__userInfo__image__padding {
    padding-left: 13px;
    padding-right: 15px;
  }
  .col-xl-3-5 {
    width: 100%;
  }
  .leftSide__log__of__chats {
    overflow-y: scroll;
    position: absolute;
    height: 90vh;
  }
  .send-text-input-box:focus,
  .send-text-input-box:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .search__input__box:focus,
  .search__input__box:focus-within {
    box-shadow: none !important;
    border-color: transparent !important;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    width: 8px;
    background: $scrollbar-color;
  }
  .input__search__icon {
    font-size: 15px;
    padding-top: 8px;
  }
  .rightSide__chat__logScreen__parent {
    height: calc(100% - 60px);
    position: relative !important;
  }
  .main-left-arrow {
    position: absolute;
    transition: all 0.3s;
  }
  .mobileView__selectContactSection {
    width: calc(100% - 130px);
  }
  .mobile__newChat__options {
    width: 100px;
  }
  .input__box__blue__arrow {
    font-size: 20px;
    color: dodgerblue;
    transform: rotate(90deg);
    transition: all 0.3s;
  }

  .rightSlider__userInfo__box:hover {
    .rollback-on-hover {
      transition: all 0.3s;
      transform: translate(-6px, 0px);
    }
  }
  .rightSlider__userInfo__box:active {
    background-color: $chat-active-color;
    cursor: pointer;
  }
  .rightSide__chat__window__parent {
    position: relative;
    display: none;
  }
  .left-dropdown {
    background-color: white;
    transition: background-color 0.18s ease;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    right: 8% !important;
    z-index: 2;
    transform: scale(1);
    font-size: 14px;
  }
  .chat-dropdown {
    transition: background-color 0.18s ease;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding-top: 9px;
    padding-bottom: 18px;
    display: none;
    width: 180px;
    position: absolute;
    display: block;
    // top: 25px;
    right: 8% !important;
    z-index: 2;
    font-size: 14px;
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .icon-color {
    color: $icon-color;
  }
  .selectedMessagesFooter {
    transform: translate(0, 100%);
    transition: 0.3s;
  }
  .custom__padding_10 {
    padding: 10px;
  }
  .selectedMessages__count {
    font-size: 14.5px;
    color: #4b4b4b;
    width: 74%;
  }
  .slideUp__footer {
    padding-left: 16px;
    padding-right: 15px;
  }
  .cancel-svg {
    margin-right: 10px;
  }
  .custom__width38 {
    width: 38px;
  }
  .footer {
    position: relative;
  }
  .profile__input__icons__section {
    width: 70px;
  }
  .profile__input__characters__left {
    font-size: 14px;
    color: #bbbbbb;
    padding-top: 2px;
  }
  .profile__input__box {
    width: calc(100% - 70px);
  }
  .simple__edit__pencil {
    border: transparent;
    color: #4b4b4b;
    font-size: 17px;
    padding: 8px 0;
    border-bottom: 2px solid #52c0a5;
    border-radius: 0px !important;
  }
  .simple__edit__pencil:focus,
  .simple__edit__pencil:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
    color: #4b4b4b;
    font-size: 17px;
  }
  input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 2px !important;
    border: 2px solid rgba(101, 101, 101, 0.85) !important;
    background-color: red !important;
  }
  .clear__messages__clear__starred__messages {
    margin-top: 12px;
  }
  .clear_messages__fontSize__14 {
    font-size: 14px;
  }
  .clear__messages__title {
    font-size: 14.2px;
    color: #4b4b4b;
  }
  .modal__cancel,
  .modal__mute {
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 3px;
  }
  .modal__cancel {
    color: #07bc4c;
  }
  .modal__mute {
    color: white;
    background-color: #07bc4c;
  }
  .modal__cancel__mute__button {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .modal__mute__radio__buttons_p-6 {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14.2px;
  }
  .modal__mute__radio__buttons {
    margin-left: 6px;
  }
  .modal__popup {
    width: 400px !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    padding: 22px 24px 20px 24px;
  }
  .mute__group__name {
    margin-bottom: 20px;
  }
  .textarea:focus,
  .textarea:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .textarea {
    resize: none;
    min-height: 20px;
    max-height: 100px;
    font-weight: normal;
    outline: none;
    // overflow-x: hidden;
    // overflow-y: auto;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    border-radius: 32px;
    border: transparent !important;
  }
  .settings-section-image_img {
    height: 82px;
    width: 82px;
    border-radius: 50%;
  }
  .settings_section_logged_in_user_name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .settings_each_logo {
    height: 60px;
  }
  .settings_options {
    padding-right: 30px;
  }
  .settings_logos {
    width: 74px;
  }
  .settings-section {
    padding-right: 24px !important;
  }
  .settings_section_logged_in_user_status {
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .settings-section-image-section {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .custom_pl-3 {
    padding-left: 3px;
  }
  .custom_pr-3 {
    padding-right: 3px;
  }
  .starred-messages-main {
    padding-left: 29px;
    padding-right: 12px;
  }
  .starred-messages-date-sent {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
  }
  .starred-messages {
    margin-top: 7px;
    padding: 6px 7px 8px 9px;
    background-color: white;
    color: #262626;
    border-radius: 7.5px;
  }
  .starred-messages-container {
    background-color: #eeeeef;
  }
  .starred-messages-section {
    padding: 10px 7px 10px 13px;
    font-size: 14px;
  }
  .starred-messages-sender-image {
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }
  .starred-messages-sender-image-main {
    margin-right: 6px;
  }
  .profile_section_name_with_value_as_input {
    border: transparent !important;
    font-size: 17px !important;
    font-weight: 100 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #00bfa5;
    // color: $search-input-box-text-color;
  }
  .leftSlider__profile__section {
    background-color: #f7f7f7;
  }
  .no-archieved-chats {
    color: #929fa6;
    font-size: 14px;
  }
  .archieved-chats-cirle {
    background-color: #e0e7e9;
    border-radius: 50%;
    margin-bottom: 32px;
    height: 164px;
    width: 164px;
  }
  .archievedChatSection {
    background-color: #f7f7f7;
    padding: 50px;
  }
  .leftDrawer_Profile_ImageSection {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .profile_section_name_with_value {
    font-size: 17px;
    margin: 8px 0px;
  }
  .static_text {
    color: #929fa6;
    font-size: 13px;
    margin: 4px 20px 28px 30px;
    background-color: #f7f7f7;
  }
  .profile_section_name {
    color: #128c7e;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 14px;
  }
  .profile_section_basic_info {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 14px 30px 10px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  .leftDrawer_Profile_ImageSection_image {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
  }
  .hashTag_child {
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 15px;
    font-size: 15px;
    color: $green-box-color;
  }
  .newGroup__input__section {
    padding-left: 34px !important;
    padding-bottom: 12px;
    padding-top: 26px;
  }
  .newGroup__input__box:focus,
  .newGroup__input__box:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d7d7d7 !important;
  }
  .newGroup__input__box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-radius: 0px !important;
    color: $search-input-box-text-color;
  }
  .rightSide__header__sender__image {
    width: 68px;
  }
  .rightSide__header__details {
    width: calc(100% - 68px);
  }
  .rightSide__header__with__icons {
    width: 160px;
  }
  .rightSide__header__without__icons {
    width: calc(100% - 160px);
  }
  .time-and-tick {
    padding-left: 20px;
    float: right;
    right: 8px;
  }
  .rightSide__chat__sender__message {
    position: relative;
    max-width: 65%;
    min-width: 16% !important;
    display: inline-block;
    white-space: pre-wrap;
    color: #262626;
    font-size: 13px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    word-break: break-all;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 7px;
    background-color: $sender-chat-msg-color;
    margin-top: 2px;
    border-radius: 7.5px;
    float: right;
  }

  li:first-child {
    .rightSide__chat__sender__firstMessage {
      position: absolute;
      border-top: 0px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 16px solid #dcf8c6;
      width: 6px;
      right: -12px;
      top: 0;
      height: 6px;
    }
  }

  .double-tick {
    padding-left: 4px;
    height: 20px !important;
    width: 18px !important;
  }

  .attachment-icons {
    height: 51px;
    width: 51px;
    border-radius: 50%;
  }
  .main-attachment-dropdown {
    position: relative;
  }
  .attachment-dropdown {
    transition: all 0.2s;
    position: absolute;
    top: 118px;
    background-color: transparent;
    padding: 9px 0px;
    width: 71px;
    height: 270px;
    right: -38px;
    margin-right: 14%;
    z-index: 2;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translate(0, -100px);
  }
  .leftSide__chat__window__parent {
    position: relative;
  }
  .icon-active {
    height: 70%;
    border-radius: 32px;
    background-color: $ellipsis-active-color;
  }
  .available {
    color: $sender-message-color;
    font-size: 13px;
  }
  .log-of-chats-new-chat-active {
    overflow-y: scroll;
    height: 73vh;
    z-index: 999;
  }
  .frequently-contacted {
    padding-left: 30px;
    color: $green-box-color;
  }
  .h-72 {
    height: 72px;
  }
  .leftSlider__chatActiveBox {
    display: block;
    background: white;
    transition: all 0.3s;
    position: absolute;
    z-index: 999;
    height: 100%;
    transition: all 0.3s cubic-bezier(0, 0.7, 0.4, 0);
    // width: 30%;
    transform: translate(-100%, 0);
  }

  .leftSlider__greenBox__header {
    color: white;
    font-size: 19px;
  }
  .leftSlider__back__arrow {
    width: 53px;
    color: white;
  }
  .custom__59height {
    height: 59px;
  }
  .leftSlider__header__green_box {
    padding-top: 49px;
    padding-left: 23px;
    padding-right: 20px;
    height: 108px;
    background-color: $new-chat-active-color;
  }
  .search__input__box {
    border: transparent !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    color: $search-input-box-text-color;
    border-radius: 32px !important;
    padding-left: 3.7rem !important;
  }

  .rightSide__footer__icons__w__10percent {
    width: 10%;
  }
  .rightSide__footer__icons__w__80percent {
    width: 80%;
    position: relative;
    border-radius: 32px;
    background-color: white;
  }
  .remaining {
    width: calc(100% - 72px);
    border-bottom: 1px solid #f2f2f2;
  }
  .rightSlider__userInfo__image__padding {
    padding-left: 13px;
    padding-right: 15px;
  }
  .rightSide__chat__window__parent {
    position: relative;
  }
  .leftSide__log__of__chats {
    overflow-y: scroll;
    // position: absolute;
    height: 90vh;
  }
  .send-text-input-box:focus,
  .send-text-input-box:focus-within {
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .search__input__box:focus,
  .search__input__box:focus-within {
    box-shadow: none !important;
    border-color: transparent !important;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    width: 8px;
    background: $scrollbar-color;
  }

  .input__search__icon {
    font-size: 15px;
    padding-top: 8px;
  }
  .rightSide__chat__logScreen__parent {
    height: calc(100% - 60px);
    position: relative !important;
  }
  .main-left-arrow {
    position: absolute;
  }
  .input__box__blue__arrow {
    font-size: 20px;
    color: dodgerblue;
    transform: rotate(90deg);
    transition: all 0.3s;
  }

  .rightSlider__userInfo__box:hover {
    .rollback-on-hover {
      transition: all 0.3s;
      transform: translate(-6px, 0px);
    }
  }

  .rightSlider__userInfo__box:active {
    background-color: $chat-active-color;
    cursor: pointer;
  }

  .left-dropdown {
    transition: background-color 0.18s ease;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    right: 8% !important;
    z-index: 2;
    transform: scale(1);
    font-size: 14px;
  }
  .chat-dropdown {
    transition: background-color 0.18s ease;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding-top: 9px;
    padding-bottom: 18px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    // top: 25px;
    right: 8% !important;
    z-index: 2;
    font-size: 14px;
    transform: scale(1);
    transition: 0.3s;
  }
  .chat-dropdown-links {
    padding-top: 13px;
    text-align: left;
    padding-left: 24px;
    padding-right: 58px;
  }
}

.demo {
  box-shadow: none !important;
  > div {
    > div {
      > div {
        > div {
          > button {
            background-color: #255d53 !important;
            margin-right: 0 !important;
            opacity: unset !important;
            &:active,
            &:focus {
              background-color: #255d53 !important;
            }
          }
        }
      }
    }
  }
}
