$green-box-color: #009688;
$bgColor: #d7dbd6;
$display-content-area-header-color: #eeeeee;
$input-box-color: #f8f8f8;
$left-side-of-window-border-color: #e0e0e0;
$footer-color: #efefef;
$sender-name-color: #262626;
$sender-message-color: rgba(0, 0, 0, 0.6);
$time-color: #333333;
$phone-number-colors: rgba(0, 0, 0, 0.6);
$icon-color: rgba(0, 0, 0, 0.4);
$search-input-box-text-color: #a0a0a0;
$chat-active-color: #e9ebeb;
$chat-hover-color: #f4f5f5;
$scrollbar-color: #cdcdcd;
$ellipsis-active-color: #d6d6d6;
$new-chat-active-color: #52c0a5;
$sender-chat-msg-color: #dcf8c6;
$hidden_box_content_color: #929fa6;
$border-color: #e4e4e4;
$hidden-component-bgColor: #f6f6f6;
