@import "./colors.scss";

/** contact info details start */

.pt-8_custom {
  padding-top: 8px;
}
.report-group-section {
  margin-bottom: 10px;
  font-size: 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.exit-logo-svg {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 31px;
}

/** contact info details ends */
