@media (min-width: 200) {
}

.DOMChangedHiddenSide {
  width: 30%;
  transition: 0.3s all !important;
  background-color: white !important;
  position: relative !important;
  transform: translate(0%, 0);
}

.rightSlider__child__open {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white !important;
}

.col-xl-3-5,
.col-xl-6-5 {
  transition: 0.3s all !important;
}

@media (min-width: 200px) {
  .display-content-area-child {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
  }
  .leftSide__chat__window__child {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .rightSide__chat__window__child {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  // #DOMChangedHiddenSide {
  //   width: 70%;
  // }
}

@media (min-width: 768px) and (max-width: 900px) {
  .col-xl-3-5 {
    width: 40%;
  }
  .leftSlider__chatActiveBox {
    width: 40%;
  }

  .col-xl-6-5 {
    width: 60%;
  }
}

@media (min-width: 901px) and (max-width: 1300px) {
  .col-xl-3-5 {
    width: 35%;
  }
  .leftSlider__chatActiveBox {
    width: 35%;
  }
  .col-xl-6-5 {
    width: 65%;
  }
}

@media (min-width: 1301px) {
  .col-xl-3-5 {
    width: 30%;
  }
  .leftSlider__chatActiveBox {
    width: 30%;
  }
  .col-xl-6-5 {
    width: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .DOMChangedLeftSide {
    width: 30% !important;
  }
  .DOMChangedLeftHiddenSide {
    width: 30% !important;
  }

  .DOMChangedRightSide {
    width: 40% !important;
  }
}

@media (min-width: 1301px) {
  .DOMChangedLeftSide_P-1301 {
    width: 25% !important;
  }
  .DOMChangedLeftHiddenSide {
    width: 25% !important;
  }

  .DOMChangedRightSide_P-1301 {
    width: 45% !important;
  }
}

/** custom alignment for the whatsapp */
